.cards {
    top: -200px;
    background-color: #0B1D26;

    &__container {
        min-height: 2560px;
    }

    &__list {
        width: 100%;
        min-height: 2560px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;

        &__item {
            width: 100%;
            min-height: 720px;
            display: flex;
            justify-content: space-between;
            background-color: rgba(0, 0, 0, 0);
        }
    }
}

.card {
    &__overlaynum {
        position: absolute;
        top: 30px;
        left: 30px;
        font-size: 240px;
        font-weight: 700;
        font-family: "Roboto", sans-serif;
        color: $background-numbers-color;
    }

    &__textbox {
        width: 896px;
        height: 100%;
        padding: 141px 114px 140px 150px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        position: relative;
    }

    &__linewithtext {
        display: flex;
        align-items: center;
        font-family: "Roboto", sans-serif;
        color: $accent-color;
        font-weight: 800;
    }

    &__line {
        width: 72px;
        margin-right: 24px;
        border: $accent-color solid 1px;
    }

    &__h3 {
        max-width: 555px;
        width: 100%;
        font-size: 64px;
        color: $main-color;
    }

    &__text {
        color: $main-color;
        font-size: 18px;
        line-height: 32px;
    }

    &__textwitharrow {
        font-size: 18px;
        font-family: "Roboto", sans-serif;
        color: $accent-color;
        display: flex;
        align-items: center;
    }

    &__arrow {
        width: 24px;
        height: 16px;
        margin-left: 16px;
        fill: $accent-color;
    }

    &__img__reverse {
        order: initial;
    }

    &__img {
        width: initial;
        height: initial;
    }
}

.container {
    margin: 0 auto;
    max-width: 1462px;
    width: 100%;
    padding: 0 15px;
    box-sizing: border-box;
}

// Reset styles
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

