@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=BJCree:wght@400;500;600;700&display=swap');

html {
    scroll-behavior: smooth;
}

body, p, h1, h2, h3, h4, ul, ol, a {
    margin: 0px;
    padding: 0px;
}

a {
    text-decoration: none;
    color: #FFFFFF;
}

.header__hero {
    background-image: url("../imgs/BG-hero-x1.jpg");
    background-size: cover;
    background-repeat: no-repeat;
}

.header__hero{
    height: 1700px;
    position: relative;
}

.container {
    max-width: 1462px;
    margin: 0 auto;
    width: 100%;
    box-sizing: border-box;
}
